<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/design.css">
    <title>Design</title>
</head>
<body>
    <header>
        <div class="textos"> 
            <div class="left"></div>   
            <h1 class="titulo">design</h1>
            <h3 class="subtitulo">el diseño simple es complaciente</h3>
            <div class="right"></div>
        </div>
    </header>
    <main>
        <section class="estilo-visual">
            <div class="container">
                <h1 class="titulo">Creamos tu diseño visual ahora</h1>
                <h3 class="subtitulo">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia, aliquid reprehenderit. Laudantium.</h3>
                <img src="" alt="" class="img">
                <p class="descripcion">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt deserunt ducimus sunt quod rerum 
                    amet blanditiis. Quaerat, odio voluptates amet eos animi at temporibus aliquid tempora nulla commodi error eligendi.</p>
            </div>
        </section>
    </main>
</body>
</html>