*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Verdanas;
}
.textos{
    color: white;
    position: relative;
}
.textos > .titulo{
    position: absolute;
    font-size: 200px;
    text-align: center;
    top: 40%;
    left: 35%;
}
.textos > .subtitulo{
    position: absolute;
    font-size: 20px;
    text-align: center;
    top: 65%;
    left: 37%;
}
.textos > .left{
    background-color: black;
    width: 60%;
    height: 755px;
}
.textos > .right{
    position: absolute;
    background-color: blueviolet;
    width: 40%;
    height: 755px;
    
}